<a href="https://colab.research.google.com/github/JamileDelmondes/Python_studies/blob/main/3_ciencias_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula do dia 13/03/2024, uso do .FORMAT


---
Pode ser utilizado para deixar mais simples algo do que usar somente o print, maneira flexível e poderosa de formatar uma string.
Faz com que se possa juntar um "inteiro" em uma "string", muda o formato da variável para que seja aceita.

In [ ]:
nome = "João"
idade = 25
frase = "Olá, meu nome é {} e tenho {} anos.".format(nome, idade)
print(frase)
print("nome", nome, "idade", idade)

Olá, meu nome é João e tenho 25 anos.
nome João idade 25

In [ ]:
frase = "{1}, {0}, {2}".format("primeiro","segundo","terceiro")
print(frase)

segundo, primeiro, terceiro

In [ ]:
frase = "Meu nome é {nome} e tenho {idade} anos".format(nome="Jamile",idade=16)
print(frase)

Meu nome é Jamile e tenho 16 anos

In [ ]:
numero_inteiro=42
numero_ponto_flutuante=5.1234

frase="Número inteiro: {:d},Número de ponto flutuante {:.2f}".format(numero_inteiro,numero_ponto_flutuante)
print(frase)

Número inteiro: 42,Número de ponto flutuante 5.12