<a href="https://colab.research.google.com/github/JamileDelmondes/Python_studies/blob/main/4_ciencias_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula do dia 20/03/2024, uso do .FORMAT e f-string

---

.FORMAT é usado para maior complexidade de um código. f-string é atribuído à rapidez que se pode dar nesse código.

In [ ]:
nome = "Aline"
idade = 30
concatenacao = "Meu nome é "+ nome +" e tenho "+ str(idade) +" anos."
print(concatenacao)

Meu nome é Aline e tenho 30 anos.

In [ ]:
nome = "Alice"
idade = 30
frase = "Nome: {:<10}|Idade: {:>5}".format(nome,idade)
print(frase)

Nome: Alice     |Idade:    30

In [ ]:
nome = "Luís"
idade = 30
frase = f"Meu nome é {nome} e tenho {idade} anos."
print(frase)

Meu nome é Luís e tenho 30 anos

In [ ]:
nome = "Luís"
idade = 30
frase = "Olá meu nome é {0} e tenho {1} anos".format(nome,idade)
print(frase)

Olá meu nome é Luís e tenho 30 anos

In [ ]:
valor = 42
frase = f"O dobro de {valor} é {valor * 2}, e o triplo é {valor * 3}."
print(frase)

O dobro de 42 é 84, e o triplo é 126.

In [ ]:
aprender= "java" != " javaescript"
print(aprender)

True